@media(max-width:1300px){
    .cards{
        flex-direction: column;
    }
    .templates{
        gap: 80px;
    }
}
@media(max-width:915px){
   
    .templates{
        gap: 25px;
    }
}
@media(max-width:768px){
    .range_sec{
        padding-top: 1rem !important;

    }
    .height_sec  .form-control{
        border-radius: 15px;
        width: 50%;
        height: 124%;
    }
    .form-range{
        width: 100%;
    }
    .height_sec .row {
        gap: 30px;
    }
    .user_sec{
        flex-direction: column;
        padding-bottom: 0rem !important;
    }
    .mail_sec{
        flex-direction: column;
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
        
    }
    .birth_sec{
        flex-direction: column;
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
    .col{
        padding-top: 1rem !important;

    }
    .country_sec{
        flex-direction: column;
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
    .city_sec{
        flex-direction: column;
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
    .height_sec{
        flex-direction: column;
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
    .colours{
        flex-direction: column;
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
    .colours .col{
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
    .templates{
        flex-direction: column;
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
    
}
@media(max-width:520px){
    .height_sec  .form-control{
        border-radius: 15px;
        width: 70%;
        height: 124%;
    }
    .form-range{
        width: 130%;
    }
    .height_sec .row {
        gap: 30px;
    }
    .main_card{
        padding: 0.1rem !important;
    }
    
    .cards{
        padding-left: 0rem !important;
        padding-right: 0rem !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;

    }
    .footer{
        
        padding-left: 0rem !important;
        padding-right: 0rem !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
   
   }

}
@media(max-width:420px){
    .container{
        max-width: 100%;
        margin: auto;
    }
    .container-fluid{
        width: 100%;
        padding-left: 0;
        padding-right: 0;

    }
    .card-body{
        padding: 0;
    }
    .cards{
        padding-left: 0rem !important;
        padding-right: 0rem !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;

    }
    .footer{
        
         padding-left: 0rem !important;
         padding-right: 0rem !important;
         padding-top: 1rem !important;
         padding-bottom: 1rem !important;
    
    }
    .col{
        padding-left: .5rem !important;
        padding-right: .5rem !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;

    }
    
}