* {
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #4318FF;
    --secondry-color: #E9EDF2;
}

body {
    background:var(--secondry-color);
}

.container {
    max-width: 1600px;
}

.upload_img {
    border: 2px dashed;
    border-color:  #B2BAD0;
    border-radius: 12px;
    background: #FAFCFE;

}

.upload_img span {
    color: var(--primary-color);

}

.upload_img h6 {
    color:var(--primary-color);

}

.upload_img small {
    color: #8F9BBA;

}

.cards {
    display: flex;
    gap: 20px;
}
.card{
    border-radius: 31px;
    border: none;
}


footer{
    width: 100%;
}
.height_sec .col .row{
    justify-content: center;
    align-items: center;
}

.gender {
    justify-content: flex-start;
    gap: 20px;
    display: flex;
    align-items: flex-start;
}
.templates{
    display: flex;
    gap: 7px;
}
.cancel-btn{
    border: none;
    border-radius: 20px;
    background-color: #E9EDF2 ;    
}
.save-btn{
    border: none;
    background-color:var(--primary-color) ;
    border-radius: 20px;
    color: #fff;
}
.colortab{
    height: 45px;
    width: 100%;
}

.height_sec  .form-control{
    border-radius: 15px;
    width: 65px;
    font-size: 15px;
    font-weight: 600;
    
}
.range_sec{
    display: flex;
    align-items: flex-start;
    padding: 0;
    width: 170px;
}
.form-range{
    width: 210px;
}
.inputcontent{
    height: 120px;
    width: 100%px;
}
.form-control{
    border-radius: 12px;
    font-size: 14px;
    font-weight: 400;
    

}
.form-select{
    border-radius: 12px;

}
.fw-bold{
    font-weight: 500 !important;
    font-size: 14px;
}
.form-select:hover{
    box-shadow: none;
    border-color: var(--primary-color);
}

.form-control:hover{
    box-shadow: none;
    border-color: var(--primary-color);
}


.form-check-input[type="radio"]:checked{

    border: 1px solid  var(--primary-color);
    background-color:  var(--primary-color);

}
input[type="range"]::-webkit-slider-thumb{
    background-color:var(--primary-color);
}
input[type="checkbox"]:checked{
    background-color: var(--primary-color);
    border: var(--primary-color);
    box-shadow: none;

}
select{
    box-shadow: none !important;
}
input{
    box-shadow: none !important;
}
.btn{
    border: none;
}